<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>161386394409-aelberkj27o1lap076t5n1e9hvvh7bun.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.161386394409-aelberkj27o1lap076t5n1e9hvvh7bun</string>
	<key>API_KEY</key>
	<string>AIzaSyB5vr3FqvVoU9hfVR7XMc5JGfJLnTfhhuE</string>
	<key>GCM_SENDER_ID</key>
	<string>161386394409</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>michigan.hackers.MCourses</string>
	<key>PROJECT_ID</key>
	<string>mcourses-fceec</string>
	<key>STORAGE_BUCKET</key>
	<string>mcourses-fceec.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:161386394409:ios:5735e1f848ef680238bd38</string>
</dict>
</plist>